.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.chart-label {
  color: #828282;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Lato';
}

.chart-total {
  color: #4f4f4f;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Lato';
}
